@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	height: 100%;
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
}

.header {
	font-size: 20px;
	text-align: center;
	margin-bottom: 10rem;
}

#array {
	height: 420px;
	margin: auto;
	position: relative;
	margin-top: 64px;
	transform: translateZ(-50px);
}

.block {
	width: 28px;
	background-color: #add8e6;
	border-radius: 5px #add8e6;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}



.block_number {
	position: absolute;
	color: var(--clr-bg);
	margin-top: -20px;
	width: 100%;
	text-align: center;
}

.block2 {
	width: 28px;
	background-color: lightgray;
	position: absolute;
	transition: 0.2s all ease;
}
@media screen and (max-width: 600px){
	.block2 {
		width: 17px;
	}
	
	.block {
		width: 17px;
		background-color: #add8e6;
		position: absolute;
		bottom: 0px;
		transition: 0.2s all ease;	
	}
}


.block_indx {
	position: absolute;
	color: black;
	margin-top: 22px;
	width: 100%;
	text-align: center;
}

.block_count {
	position: absolute;
	color: black;
	margin-top: 1px;
	width: 100%;
	text-align: center;
}

#count {
	margin: auto;
}

.keepFormatted{
	white-space: pre;
}

/* ---------- */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.c-container {
	max-width: 27rem;
	margin: 1rem auto 0;
	padding: 1rem;
}

.o-circle {
	display: flex;
	width: 10rem;
	height: 10rem;
	justify-content: center;
	border-radius: 50%;
}

.c-container__circle {
	margin: 0 auto 5.5rem;
}

.o-circle__sign {
	position: relative;
	opacity: 0;
	background: #fff; 
}

.o-circle__sign--success {
	background: rgb(56, 176, 131);
}
.check-mark-sign{
	color: white;
	float: right;
	font-size: 100px;
	font-weight: bold;
	margin: auto;
}

.o-circle__sign--failure {
	background: red;
}

.x-sign{
	color: white;
	float: right;
	font-size: 100px;
	font-weight: bold;
	margin: auto;
}

/* ---------- */
.button_lang {
	cursor: pointer;
	display: inline-block;
	padding: 0.25em 0em;
	border-radius: 10px;
	width: 5em;
	transition: 0.25s ease;
}

.button_lang:hover {
	background: #b5d6b2;
	transition: 0.25s ease;
}

a {
    text-decoration:none;
    display: block;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	font-size: 18.5px;
}

.flex-item-left {
	/* #f1f1f1 */
	padding: 10px;
	flex: 30%;
}

.flex-item-right {
	padding: 10px;
	flex: 70%;
}

.container{
	margin: 0 auto;
}
header{
	background-color: #2b2929;
	height: 50%;
}
header::after{
	content: '';
	display: table;
	clear: both;
}
nav{
	float: left;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
}
nav a{
	text-decoration: none;
	color: #aaa;
	text-transform: uppercase;
	font-size: 15px;
}
nav a:hover{
	color:white;
}

nav a:hover::before{
	width: 100%;
}

.right{
	float: right;
}

.center{
	margin: auto;
	width: 60%;
}

.flex-parent {
	display: flex;
	flex-wrap: wrap;
	font-size: 18px;
}

.jc-center {
	justify-content: center;
}

.margin-right {
	margin-right: 20px;
}

button.margin-right {
	margin-right: 20px;
}

.custom-btn {
	width: 130px;
	height: 40px;
	padding: 10px 25px;
	border: 2px solid #000;
	/* font-family: 'Lato', sans-serif; */
	font-weight: 500;
	font-size: 17px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

@media only screen and (max-width: 600px) {
	.custom-btn {
		width: 115px;
	}
}
  /* 1 */
.btn-1 {
	transition: all 0.3s ease;
}
.btn-1:hover {
	box-shadow:
	-7px -7px 20px 0px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0002,
	4px 4px 5px 0px #0001;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	background: #111;
	border-radius: 5px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #00bcd4;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #00bcd4;
	cursor: pointer;
}
#sliderRange{
	direction: rtl;
}
.group { 
	position:relative; 
	margin-bottom:45px; 
}
.group > input {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:300px;
	border:none;
	border-bottom:1px solid black;
}

input:focus {
	outline:none;
}

input:valid ~ label {
	top:-20px;
	font-size:14px;
	color:blueviolet;
}

.group > label {
	position:absolute;
	left:5px;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: 1.3rem;
	font-family: var(--headingFont);
	font-weight: 400;
	line-height: 1.3;
	text-transform: capitalize;
	letter-spacing: var(--letterSpacing);
}

h5 {
	font-size: 1.8rem;
}

a {
	text-decoration: none;
}

.img {
	width: 100%;
	display: block;
	object-fit: fill;
}

.container-list {
	margin-left: 4rem;
	margin-right: 5rem;
	display: grid;
	gap: 10rem;
	padding-bottom: 1rem;
	grid-template-columns: 1fr 1fr;
}

.container-img {
	border-radius: var(--borderRadius);
	margin-bottom: 1rem;
	height: 24rem;
	border-style: solid;
    border-width: 1px 1px;
}

@media screen and (max-width: 600px) {
	.container-img {
		border-radius: var(--borderRadius);
		margin-bottom: 1rem;
		height: 9rem;
		width: 130px;
		border-style: solid;
    	border-width: 1px 1px;
	}
	.container-list {
		margin-left: 4rem;
		margin-right: 5rem;
		display: grid;
		gap: 1rem;
		padding-bottom: 1rem;
		grid-template-columns: 1fr 1fr;
	}
	h5{
		font-size: 1.25rem;
	}
}